{% extends 'boi/base.html' %}
{% load static %}

{% block special_css %}
<link rel="stylesheet" type="text/css" href="{% static 'boi/banzuke.css' %}" />
{% endblock %}

{% block head %}
  <title>Banzuke - Basho of Imagination</title>
{% endblock %}

{% block content %}
<div class="center">
  <span class="style1 center">Banzuke</span><br />
  <table>
    <tr>
      <td class="header">&#x6771;</td>
      <td class="headermiddle"></td>
      <td class="header">&#x897f;</td>
    </tr>
    {% if squadron_rows %}
    {% for s1, s2 in squadron_rows %}
    <tr>
      <td class="oyakata">
        <a href="{% url 'boi:profile' s1.oyakata.id %}">{{ s1.shikona }}</a><br />
        <small>{{ s1.rank_full_str }}</small>
        {% if s1.rank == -2 %}
          {% if s1.oyakata.is_tsunatori or s1.oyakata.is_jun_tsunatori %}
            <img class="tsuna" src="{% static 'boi/images/tsuna.gif' %}">
          {% endif %}
        {% endif %}
      </td>
      <td class="middle">{% cycle '&#19968;' '&#20108;' '&#19977;' '&#22235;' '&#20116;' '&#20845;' %}</td>
      <td class="oyakata">
        <a href="{% url 'boi:profile' s2.oyakata.id %}">{{ s2.shikona }}</a><br />
        <small>{{ s2.rank_full_str }}</small>
        {% if s2.rank == -2 %}
          {% if s2.oyakata.is_tsunatori or s2.oyakata.is_jun_tsunatori %}
            <img class="tsuna" src="{% static 'boi/images/tsuna.gif' %}">
          {% endif %}
        {% endif %}
      </td>
    </tr>
    {% endfor %}
    {% endif %}
  </table>
</div>
{% endblock %}
