{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'boi/boi.css' %}" />
{% block special_css %}
{% endblock %}

<head>
  {% block head %}
  {% endblock %}
</head>

<body>

<img class="logo" src="{% static 'boi/images/basho_logo.gif' %}"><br />

<div class="content container center">
  {% block content %}
  {% endblock %}
</div>

<div class="center">
  <a class="backtomainpage" href="{% url 'boi:index' %}">Back to main page</a>
</div>

</body>
