{% load static %}
<html>
<link rel="stylesheet" type="text/css" href="{% static 'boi/boi.css' %}" />

<head>
  <title>Dew Swept! - Basho of Imagination</title>
</head>

<body>
<span class="normal">Dewsweeper successfully run for day {{ day }}.</span>
</body>
</html>
