{% extends 'boi/base.html' %}
{% load static %}

{% block head %}
  <title>Dewsweeper - Basho of Imagination</title>
{% endblock %}

{% block content %}
<body>
{% if error_msg %}
  <span class="normal">{{ error_msg|linebreaksbr }}</span>
{% else %}
  <span class="normal">Ready to sweep the dew!</span>
  <form method="post">
    {% csrf_token %}
    <input type="hidden" id="basho_id" name="basho_id" value="{{ basho_id }}" />
    <input type="hidden" id="day" name="day" value="{{ day }}" />
    <input type="hidden" id="confirm" name="confirm" value="true" />
    <input type="submit" name="SubmitButton" value="Sweep the Dew!" id="SubmitButton"/>
  </form>
{% endif %}
</body>
{% endblock %}
