{% extends 'boi/base.html' %}
{% load static %}

{% block special_css %}
<link rel="stylesheet" type="text/css" href="{% static 'boi/draftregistration.css' %}" />
{% endblock %}

{% block head %}
  <title>Draft Registration - Basho of Imagination</title>
{% endblock %}

{% block content %}
<span class="style4">Draft Registration Utility</span>
<div class="ContentWrapper">
{% if status %}<p><span id="StatusLabel">{{ status }}</span></p>{% endif %}
<p class="normal">
  To use, paste in the results from the Google Sheet into this box.
</p>
<p>
<form method="post">
  {% csrf_token %}
  {{ form.non_field_errors }}
  <p>
    <div class="fieldWrapper">
      {{ form.draft_results.errors }}
      {{ form.draft_results }}
    </div>
  </p>
  <p>
    <input type="submit" class="button" value="Submit" />
  </p>
</form>
</p>
</div>
{% endblock %}
