{% extends 'boi/base.html' %}
{% load static %}

{% block special_css %}
<link rel="stylesheet" type="text/css" href="{% static 'boi/index.css' %}" />
{% endblock %}

{% block head %}
  <title>Basho of Imagination</title>
{% endblock %}

{% block content %}
<span class="title">The Basho of Imagination</span><br /><br />
<span class="subtitle">Intense Fantasy Sumo Action</span><br /><br />

<span class="mainmenu">Main Menu</span><br /><br />
<a href="{% url 'boi:banzuke' %}">The {{ basho_full_name }} Banzuke</a><br /><br />
<a href="{% url 'boi:mgmt_index' %}">Squadron Management</a><br /><br />
<a href="{% url 'boi:standings' %}">Standings</a><br /><br />
<a href="{% url 'boi:suicide' %}">Suicide Standings</a><br /><br />
<a href="{% url 'boi:matchups' %}">Tonight's Matchups</a><br /><br />
<a href="{% url 'boi:results_index' %}">Results</a><br /><br />
{% endblock %}
