{% extends 'boi/base.html' %}
{% load static %}
{% load boi_extras %}

{% block special_css %}
<link rel="stylesheet" type="text/css" href="{% static 'boi/matchups.css' %}" />
{% endblock %}

{% block head %}
  <title>Tonight's Matchups - Basho of Imagination</title>
{% endblock %}

{% block content %}
{% if matchups %}
<span class="style1">Tonight's Matchups - Day {{ day }}</span>
<table cellspacing="40">
  {% for m in matchups %}
  <tr>
    <td><img src="{{ m.oyakata1.image_url }}" /></td>
    <td><img src="{% static 'boi/images/versus.gif' %}" /></td>
    <td><img src="{{ m.oyakata2.image_url }}" /></td>
  </tr>
  <tr>
    <td align="center" valign="top">
      <b>{{ m.oyakata1_shikona }}</b> ({{ m.oyakata1.rank_short_str }}) {{ m.oyakata1_basho_record.wins }}-{{ m.oyakata1_basho_record.losses }}-{{ m.oyakata1_basho_record.draws }}<br />
      {% for lineup_entry in m.oyakata1_lineup %}
      {{ lineup_entry.rikishi.most_recent_shikona }}<br />
      {% endfor %}
    </td>
    <td></td>
    <td align="center" valign="top">
      <b>{{ m.oyakata2_shikona }}</b> ({{ m.oyakata2.rank_short_str }}) {{ m.oyakata2_basho_record.wins }}-{{ m.oyakata2_basho_record.losses }}-{{ m.oyakata2_basho_record.draws }}<br />
      {% for lineup_entry in m.oyakata2_lineup %}
      {{ lineup_entry.rikishi.most_recent_shikona }}<br />
      {% endfor %}
    </td>
  </tr>
  {% endfor %}
</table>
{% else %}
<span class="style3">No active basho.</span>
{% endif %}
{% endblock %}
