{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'boi/mgmt.css' %}" />

<head>
  <title>Squadron Management - Basho of Imagination</title>

  <script type="text/javascript">
    <!--
      function checkForm(form)
      {
        var submitButton = document.getElementById("submitButton");
        submitButton.disabled = true;
        return true;
      }
    //-->
  </script>
</head>

<body>
  <img src="{{ basho_squadron.oyakata.image_url }}" /><br />
  <span class="welcome">Welcome, {{ basho_squadron.oyakata.shikona_for_current_basho }}</span><br />
  {% if has_lineup %}
    {% if form %}
    <form action="{% url 'boi:mgmt' basho_squadron.oyakata.id %}" method="post" onsubmit="return checkForm(this);">
      {% csrf_token %}
      {{ form.non_field_errors }}
      <div class="fieldWrapper">
        {{ form.pre_trash_talk.errors }}
        <label for="{{ form.pre_trash_talk.id_for_label }}">Text to appear before rikishi selections:</label><br />
        {{ form.pre_trash_talk }}
      </div>
      <div class="fieldWrapper">
        <table class="squadrontable">
          <tr>
            <td>
              <br />
              {{ form.starting_rikishi.errors }}
              {{ form.starting_rikishi }}
            </td>
            {% if opponent %}
            <td class="opponentcell">
              <u>{{ opponent.shikona_for_current_basho }}</u><br />
              {% for r in opponent_info %}
              {{ r.rikishi.most_recent_shikona }}<br />
              {% endfor %}
            </td>
            {% endif %}
          </tr>
        </table>
      </div>
      <div class="fieldWrapper">
        {% if not suicide_pool_active %}
        <i>The suicide pool has ended for this basho.</i><br />
        {% elif not basho_squadron.suicide_still_alive %}
        <i>You have been eliminated from the suicide pool.</i><br />
        {% else %}
        {{ form.suicide_pick.errors }}
        <label for="{{ form.suicide_pick.id_for_label }}">Suicide pick:</label> {{ form.suicide_pick }}
        {% endif %}
      </div>
      <div class="fieldWrapper">
        {{ form.post_trash_talk.errors }}
        <label for="{{ form.post_trash_talk.id_for_label }}">Text to appear after rikishi selections:</label><br />
        {{ form.post_trash_talk }}
      </div>
      <p class="button_p">
        <input type="submit" class="button" value="Submit" name="submitButton" id="submitButton"/>
      </p>
      <p class="button_p">
        <span class="style3">
          {{ form.active_day.errors }}
          <label for="{{ form.active_day.id_for_label }}">Day:</label>
        </span>
        {{ form.active_day }}
      </p>
    </form>
    {% else %}
    <span class='style3'>There is no active basho.</span>
    {% endif %}
  {% else %}
  <p><span class='style3'>No squadron available for this oyakata.</span></p>
  {% endif %}
</body>
