{% extends 'boi/base.html' %}
{% load static %}
{% load boi_extras %}

{% block special_css %}
<link rel="stylesheet" type="text/css" href="{% static 'boi/mgmt_index.css' %}" />
{% endblock %}

{% block head %}
  <title>Squadron Management - Basho of Imagination</title>
{% endblock %}

{% block content %}
<span class="title">Squadron Management</span><br /><br />

<span class="subtitle">Select your squadron to manage starters</span><br /><br />

<table>
{% for squadron in squadrons %}
<tr>
  <td><a href="{% url 'boi:mgmt' squadron.oyakata.id %}">{{ squadron.shikona }}</a></td>
</tr>
{% endfor %}
</table>
<br /><br />
{% endblock %}
