{% extends 'boi/base.html' %}
{% load static %}

{% block special_css %}
<link rel="stylesheet" type="text/css" href="{% static 'boi/monkeylist.css' %}" />
{% endblock %}

{% block head %}
  <title>Monkey List - Basho of Imagination</title>
{% endblock %}

{% block content %}
<span class="style4">Monkey List Generation Utility</span>
<div class="ContentWrapper">
{% if status %}<p><span id="StatusLabel">{{ status }}</span></p>{% endif %}
{% if results %}
<p class="normal center">
  <u>Results</u><br/>
  {% for r in results %}
  {{ r.0 }} - {{ r.1 }}<br/>
  {% endfor %}
</p>
{% endif %}
<p class="normal">
  To use, paste in the results of two divisions from the Google Sheet into this
  box.
</p>
<p>
<form method="post">
  {% csrf_token %}
  {{ form.non_field_errors }}
  <p>
    <div class="fieldWrapper">
      {{ form.partial_draft_results.errors }}
      {{ form.partial_draft_results }}
    </div>
  </p>
  <p>
    <input type="submit" class="button" value="Submit" />
  </p>
</form>
</p>
</div>
{% endblock %}
