{% extends 'boi/base.html' %}
{% load static %}

{% block special_css %}
<link rel="stylesheet" type="text/css" href="{% static 'boi/profile.css' %}" />
{% endblock %}

{% block head %}
  <title>Profile - Basho of Imagination</title>
{% endblock %}

{% block content %}
<div class="center">
  <table>
    <tr>
      <td align="center" rowspan="12">
        <img src="{{ profile.image_url }}" />
      </td>
      <td>Shikona:</td><td>{{ profile.most_recent_shikona }}</td>
    </tr>
    <tr>
      <td>Current rank:</td><td>{{ profile.rank_full_str }}</td>
    </tr>
    <tr>
      <td>Shikona History:</td><td>{% for s in profile.shikona_history %}{{ s }}<br />{% endfor %}</td>
    </tr>
    <tr>
      <td>Yusho:</td><td>{{ profile.yusho }}</td>
    </tr>
    <tr>
      <td>Jun-yusho:</td><td>{{ profile.jun_yusho }}</td>
    </tr>
    <tr>
      <td>Lifetime Record:</td><td>{{ profile.lifetime_record_string }} ({{ profile.lifetime_winning_percentage|floatformat:3 }})</td>
    </tr>
    <tr>
      <td>Style:</td><td>{{ profile.style }}</td>
    </tr>
    <tr>
      <td>Quote:</td><td>{{ profile.quote }}</td>
    </tr>
  </table>
</div>
{% endblock %}
