{% load static %}
<html>
<link rel="stylesheet" type="text/css" href="{% static 'boi/boi.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'boi/recordbanzuke.css' %}" />

<head>
  <title>Record Banzuke - Basho of Imagination</title>
</head>

<body>
{% if debug_msg %}<span class="normal">{{ debug_msg }}</span>{% endif %}
<form method="post">
{% csrf_token %}
<input type="hidden" id="num_rikishi" name="num_rikishi" value="{{ rikishi|length }}" />
<table id="BanzukeTable">
{% for r in rikishi %}
<tr>
  <td>{{ r.0 }}</td> {# Shikona #}
  <td>{{ r.1 }}</td> {# Rank in int form #}
  <td>{{ r.2 }}</td> {# Full rank string #}
  <td>{{ r.3 }}</td> {# SumoRef ID #}
  <input type="hidden" id="r{{ forloop.counter }}_shikona" name="r{{ forloop.counter }}_shikona" value="{{ r.0 }}" />
  <input type="hidden" id="r{{ forloop.counter }}_rank" name="r{{ forloop.counter }}_rank" value="{{ r.1 }}" />
  <input type="hidden" id="r{{ forloop.counter }}_sumoref_id" name="r{{ forloop.counter }}_sumoref_id" value="{{ r.3 }}" />
</tr>
{% endfor %}
</table>
<br />
<input type="submit" name="SubmitButton" value="Record Banzuke" id="SubmitButton"/>
</form>
</body>
</html>
