{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'boi/boi.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'boi/registerplayers.css' %}" />

<body>
  <form method="post">
    {% csrf_token %}
    {{ form.non_field_errors }}
    <table id="RegistrationTable">
      {% for field in form.visible_fields %}
      <tr>
        <td>{{ field.label_tag }}</td>
        <td>{{ field }}</td>
      </tr>
      {% endfor %}
    </table>  
    <input type="submit" name="RegisterButton" value="Register Players" id="RegisterButton" />
    </form>
  <span class="normal">
    Registration for Basho ID {{ basho_id }}<br />
    {{ basho_full_name }}
  </span>
</body>
