{% extends 'boi/base.html' %}
{% load static %}
{% load boi_extras %}

{% block special_css %}
<link rel="stylesheet" type="text/css" href="{% static 'boi/results.css' %}" />
{% endblock %}

{% block head %}
  <title>Results - Basho of Imagination</title>
{% endblock %}

{% block content %}
<table cellspacing="40" align="Center">
  {% for r in results %}
  <tr>
    <td class="result_string" colspan="3">{{ r.result_string|linebreaksbr }}</td>
  </tr>
  <tr>
    <td align="center"><img src="{{ r.oyakata1.image_url }}" /></td>
    <td><img src="{% static 'boi/images/versus.gif' %}" /></td>
    <td align="center"><img src="{{ r.oyakata2.image_url }}" /></td>
  </tr>
  <tr>
    <td align="center" valign="top">
      <b>{{ r.oyakata1_shikona }}</b> ({{ r.oyakata1_rank_short_str }}) {{ r.oyakata1_basho_record.wins }}-{{ r.oyakata1_basho_record.losses }}-{{ r.oyakata1_basho_record.draws }}<br />
      {% for lineup_entry in r.oyakata1_effective_lineup %}
      {{ lineup_entry.rikishi.most_recent_shikona }} - {{ ozumo_results|dict_get:lineup_entry.rikishi.most_recent_shikona }}<br />
      {% endfor %}
      {% if r.is_day_two %}
      DAY ONE SCORE: {{ r.oyakata1_day_one_score }}<br />
      {% endif %}
    </td>
    <td></td>
    <td align="center" valign="top">
      <b>{{ r.oyakata2_shikona }}</b> ({{ r.oyakata2_rank_short_str }}) {{ r.oyakata2_basho_record.wins }}-{{ r.oyakata2_basho_record.losses }}-{{ r.oyakata2_basho_record.draws }}<br />
      {% for lineup_entry in r.oyakata2_effective_lineup %}
      {{ lineup_entry.rikishi.most_recent_shikona }} - {{ ozumo_results|dict_get:lineup_entry.rikishi.most_recent_shikona }}<br />
      {% endfor %}
      {% if r.is_day_two %}
      DAY ONE SCORE: {{ r.oyakata2_day_one_score }}<br />
      {% endif %}
    </td>
  </tr>
  {% endfor %}
</table>
{% endblock %}
