{% extends 'boi/base.html' %}
{% load static %}

{% block special_css %}
<link rel="stylesheet" type="text/css" href="{% static 'boi/resultsindex.css' %}" />
{% endblock %}

{% block head %}
  <title>Results - Basho of Imagination</title>
{% endblock %}

{% block content %}
<p class="header">Results</p>

{% for day in day_range %}
<a href="{% url 'boi:results' %}?b={{ basho_id }}&d={{ day }}" class="daylink">Day {{ day }}</a><br/><br/>
{% endfor %}

{% endblock %}
