{% extends 'boi/base.html' %}
{% load static %}

{% block special_css %}
{% endblock %}

{% block head %}
  <title>Schedule Registration - Basho of Imagination</title>
{% endblock %}

{% block content %}
<p class="header">Schedule Registration Utility</p>
<div class="ContentWrapper">
{% if status %}<p><span id="StatusLabel" class="normal">{{ status|linebreaksbr }}</span></p>{% endif %}
{% if results %}<p><span id="ResultsLabel" class="normal">{{ results|linebreaksbr }}</span></p>{% endif %}
<p class="normal">
Submitting for Basho ID {{ basho_id }} ({{ basho_full_name }})
</p>
<p>
<form method="post">
  {% csrf_token %}
  {{ form.non_field_errors }}
  <p>
    <div class="fieldWrapper">
      {{ form.schedule.errors }}
      {{ form.schedule }}
    </div>
  </p>
  <p>
    <input type="submit" class="button" value="Submit" />
  </p>
</form>
</p>
</div>
{% endblock %}
