{% extends 'boi/base.html' %}
{% load static %}
{% load boi_extras %}

{% block special_css %}
<link rel="stylesheet" type="text/css" href="{% static 'boi/standings.css' %}" />
{% endblock %}

{% block head %}
  <title>Standings - Basho of Imagination</title>
{% endblock %}

{% block content %}
<span class="header">Basho of Imagination Standings</span>
{% if standings %}
<table class="standingstable">
  <tr>
    <th>Oyakata</th>
    <th>Record</th>
    <th>Total Points</th>
    <th>Total Chanko</th>
    <th>Points Against</th>
    <th>Dominance Factor</th>
    <th>Points Possible</th>
    <th>Coach Rating</th>
  </tr>
  {% for s in standings %}
  <tr>
    {% if forloop.counter0 < KACHI_BRACKET_BOUND %}
    <td class="oyakata kachi">
    {% elif forloop.counter0 < KUWAHIRA_BRACKET_BOUND %}
    <td class="oyakata kuwahira">
    {% else %}
    <td class="oyakata make">
    {% endif %}{{ s.shikona }}</td>
    <td>{{ s.wins }}-{{ s.losses }}-{{ s.draws }}</td>
    <td>{{ s.total_points }}</td>
    <td>{{ s.total_chanko }}</td>
    <td>{{ s.points_against }}</td>
    <td>{% if s.dominance_factor == 999 %}Inf.{% else %}{{ s.dominance_factor|floatformat:3 }}{% endif %}</td>
    <td>{{ s.points_possible }}</td>
    <td>{{ s.coach_rating|floatformat:3 }}</td>
  </tr>
  {% endfor %}
</table>
<p class="globalstatstyle">
  <u>Global Stats</u><br />
  Average points: {{ avg_points|floatformat:1 }}<br />
  Average potenchuro: {{ avg_bp|floatformat:1 }}<br />
  As a group, we are scoring {{ global_coach_rating|percentage:1 }} of our possible points.
</p>
{% endif %}
{% endblock %}
