{% extends 'boi/base.html' %}
{% load static %}
{% load boi_extras %}

{% block special_css %}
<link rel="stylesheet" type="text/css" href="{% static 'boi/suicidestandings.css' %}" />
{% endblock %}

{% block head %}
  <title>Suicide Pool Standings - Basho of Imagination</title>
{% endblock %}

{% block content %}
<span class="style1">Suicide Pool Standings</span><br /><br />

{% if status_label %}
<span id="StatusLabel" class="style3">{{ status_label }}</span><br /><br />
{% endif %}

<table id="SuicideStandingsTable">
  <tr>
    <th class="shikona">Shikona</th>
    {% for d in day_range %}
    <th>{{ d }}</th>
    {% endfor %}
  </tr>
  {% for bs in basho_squadrons %}
  <tr>
    <td class="oyakata">{{ bs.shikona }}</td>
    {% for d in current_day_range %}
    {% if squadron_to_results|dict_get:bs|index:d < 0 %}
    <td class="loss" title="{{ squadron_to_labels|dict_get:bs|index:d }}"></td>
    {% elif squadron_to_results|dict_get:bs|index:d == 1 %}
    <td class="win" title="{{ squadron_to_labels|dict_get:bs|index:d }}"></td>
    {% elif squadron_to_results|dict_get:bs|index:d == 0 %}
    <td class="blank"></td>
    {% else %}
    <td class="poolalreadyover"></td>
    {% endif %}
    {% endfor %}
  </tr>
  {% endfor %}
</table>

{% endblock %}
