{% extends 'boi/base.html' %}
{% load static %}

{% block special_css %}
<link rel="stylesheet" type="text/css" href="{% static 'boi/utils.css' %}" />
{% endblock %}

{% block head %}
  <title>Utilities - Basho of Imagination</title>
{% endblock %}

{% block content %}
<span class="title">Administrative Utilities</span><br /><br />
<a href="{% url 'boi:register_players' %}">Player Registration</a><br /><br />
<a href="{% url 'boi:record_banzuke' %}">Record Banzuke</a><br /><br />
<a href="{% url 'boi:waivers' %}">Waivers Utility</a><br /><br />
<a href="{% url 'boi:monkey_list' %}">Monkey List Generator</a><br /><br />
<a href="{% url 'boi:draft_registration' %}">Draft Registration</a><br /><br />
<a href="{% url 'boi:schedule_registration' %}">Schedule Tool</a><br /><br />
<a href="{% url 'boi:winlossmatrix' %}">Win/Loss Matrix</a><br /><br />
{% endblock %}
