{% extends 'boi/base.html' %}
{% load static %}

{% block head %}
  <title>Waivers Utility - Basho of Imagination</title>
{% endblock %}

{% block content %}
<span class="header">Waivers Utility</span>
<div class="ContentWrapper">

{% if status %}
<p>
  <span id="StatusLabel" class="normal">
    {{ status }}
  </span>
</p>
{% endif %}

<p class="normal">
  To use, paste the waivers into this box.
</p>
<p class="code">
  Usage: [ShortName],[DroppedRikishi],[AddedRikishi]<br />
  Add a blank line to separate divisions<br />
  Example: Brad,Takekaze,Kotoyuki<br />
</p>
<p>
<form method="post">
  {% csrf_token %}
  {{ form.non_field_errors }}
  <p>
    <div class="fieldWrapper">
      {{ form.waivers.errors }}
      {{ form.waivers }}
    </div>
  </p>
  <p>
    <input type="submit" class="button" value="Submit" />
  </p>
</form>
</p>
</div>
{% endblock %}
