{% extends 'boi/base.html' %}
{% load static %}
{% load boi_extras %}

{% block special_css %}
<link rel="stylesheet" type="text/css" href="{% static 'boi/winlossmatrix.css' %}" />
{% endblock %}

{% block head %}
  <title>Win/Loss Matrix - Basho of Imagination</title>
{% endblock %}

{% block content %}
<table id="matrixTable">
  <tr>
    <td class="box"></td>
    {% for s in squadrons %}
    <td class="box oyakata">{{ s.oyakata.short_name }}</td>
    {% endfor %}
  </tr>
  {% for s1 in squadrons %}
  <tr>
    <td class="box oyakata">{{ s1.oyakata.short_name }}</td>
    {% for s2 in squadrons %}
    {% if s1 == s2 %}
    <td class="box star">*</td>
    {% elif results_dict|dict_get:s1.oyakata_id|dict_get:s2.oyakata_id == 1 %}
    <td class="box win">O</td>
    {% elif results_dict|dict_get:s1.oyakata_id|dict_get:s2.oyakata_id == -1 %}
    <td class="box loss">X</td>
    {% elif results_dict|dict_get:s1.oyakata_id|dict_get:s2.oyakata_id == 0 %}
    <td class="box draw">-</td>
    {% else %}
    <td></td>
    {% endif %}
    {% endfor %}
  </tr>
  {% endfor %}
</table><br />
{% endblock %}
