table {
  border-spacing: 1;
  padding: 2;
  color: #444444;
  font-size: medium;
  table-layout: fixed;
  width: 540px;
  margin-left: auto;
  margin-right: auto;
}
td.oyakata {
  text-align: center;
  vertical-align: center;
  background-color: #D0A3F5;
}
td.header {
  color: White;
  background-color: #6B248F;
  width: 200px;
  text-align: center;
}
td.headermiddle {
  background-color: #BEE1E2;
  width: 126px;
}
td.middle {
  text-align: center;
  color: Black;
  background-color: #D9EAF0;
  font-family: Cambria;
}
.style1
{
    font-family: Cambria;
    font-weight: bold;
    font-size: x-large;
    color: #FFFFFF;
}
.style2
{
  font-family: Cambria;
  font-size: medium;
  color: #FFFFFF;
}
.style3
{
    color: #FFFFFF;
}
.style4
{
    font-family: Cambria;
}
.style6
{
    font-size: x-large;
}
.style7
{
    font-weight: bold;
}
img.tsuna
{
    align: middle;
    height: 25px;
}
