body {
  background-color: black;
}

.center {
  margin: auto;
  text-align: center;
}

img.logo {
  max-width: 100%;
  height: auto;
  margin: auto;
  display: block;
}

a.backtomainpage {
  color: yellow;
}

.normal {
    font-family: Cambria;
    color: White;
}

.code {
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 12;
    color: White;
}

.header
{
    font-size: x-large;
    font-family: Cambria;
    color: #FFFFFF;
}

.button {
  height: 35px;
  width: 75px;
}

p.button_p {
  height: 41px;
  width: 167px;
}
