div.ContentWrapper {
  text-align: left;
  margin: inherit;
}

.style1
{

}
.style2
{
    text-align: center;
}
.style3
{
    font-family: Cambria;
    color: #FFFFFF;
    font-weight: bold;
    font-size: xx-large;
}
.style4
{
    font-size: x-large;
    font-family: Cambria;
    color: #FFFFFF;
}

label {
  font-family: Cambria;
  font-size: x-large;
  color: #FFFFFF;
  display:inline-block;
}



textarea {
  vertical-align: top;
  font-size: large;
}

select {
  font-size: large;
}
