.subtitle
{
  font-family: Cambria;
    font-weight: bold;
    font-size: large;
    color: #90EE90;
}

.mainmenu
{
  font-family: Cambria;
    font-weight: bold;
    font-size: xx-large;
    color: white;
}

.randomstatstyle
{
    font-family: Cambria;
    font-size: medium;
    color: White;
}

a:link
{
  font-family: Cambria;
    font-size: medium;
    color: yellow;
}

a:visited
{
  font-family: Cambria;
  font-size: medium;
  color: yellow;
}

a:active
{
  font-family: Cambria;
  font-size: medium;
  color: Red;
}

.style4
{
    font-size: xx-small;
}

span.title
{
  color: LightBlue;
  font-family: Cambria;
  font-size: X-Large;
  font-weight: bold;
}
