table {
  color: White;
  font-family: "Cambria";
  font-size: Large;
  width: 100% !important;
  margin: auto;
}

td {
  text-align: center;
}

.style1 {
    font-family: Cambria;
    color: #FFFFFF;
    font-weight: bold;
    font-size: xx-large;
}

.style3 {
    font-family: Cambria;
    color: white;
}
