body {
  background-color: black;
}

.main {
  color: White;
}

.welcome {
    font-family: Cambria;
    font-size: large;
    color: White;
}

.fieldWrapper {
  color: White;
  padding-top: 10px;
}

table.squadrontable {
  width: auto;
  padding-left: 0px;
  color: White;
}

td {
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 150px;
  padding-bottom: 0px;
  text-align: left;
}

td.opponentcell {
  text-align: center;
  font-style: italic;
}

ul {
  list-style: none;
}

.style2 {
    font-size: medium;
}

.style3 {
    font-family: Cambria;
    color: white;
}

.style4 {
    font-size: small;
    font-family: Cambria;
}

.style5 {
    font-size: small;
    font-weight: bold;
    font-family: Cambria;
}

.style6 {
    font-size: medium;
    font-family: Cambria;
}
