.title {
    color: #FFFFFF;
    font-family: Cambria;
    font-size: x-large;
}

.subtitle {
    font-family: Cambria;
    font-size: medium;
    color: #FFFFFF;
    text-decoration: underline;
}

.style4 {
    color: #FFFFFF;
    font-family: Cambria;
}

.style5 {
    font-size: medium;
}

a {
  color: lightblue;
}

table {
  text-align: center;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  table-layout: fixed;
}
