.kachi
{
    font-family: "Cambria";
    color: #66FF00;
}
.style1
{
    text-align: center;
    font-family: "Cambria";
    color: White;
}
.style3
{
    width: 400px;
    height: 250px;
}

.header {
    font-family: Cambria;
    color: #FFFFFF;
    font-weight: bold;
    font-size: x-large;
}

.standingstable {
  font-family: Cambria;
  color: White;
  font-size: Medium;
  border-spacing: 15px;
  border-collapse: separate;
  width: 85%;
  max-width: 85%;
  margin-left: auto;
  margin-right: auto;

}

th {
    font-weight: bold;
    text-decoration: underline;
    max-width: 100%;
}

td {
  color: White;
  text-align: center;
  max-width: 100%;
}

.oyakata {
  font-weight: bold;
}

.kachi {
  color: #66FF00;
}

.kuwahira {
  color: #FFFF00;
}

.make {
  color: #FF2222;
}

.globalstatstyle
{
  text-align: center;
    font-family: "Cambria";
    color: White;
    font-size: small;
    font-style: italic;
}
