.style1
{
    font-family: Cambria;
    font-weight: bold;
    font-size: x-large;
    color: #FFFFFF;
}
.style2
{
    font-family: Cambria;
    font-weight: bold;
    font-size: medium;
    color: #FFFFFF;
}
.style3
{
    font-size: large;
}

table {
  border-collapse: collapse;
  table-layout: fixed;
  width: 540px;
  margin-left: auto;
  margin-right: auto;
}

table, td, th {
  border: 1px solid grey;
}

th {
  color: White;
  font-size: Small;
  width: 15px;
}

th.shikona {
  font-style: italic;
  width: auto;
}

td {
  color: White;
}

td.oyakata {
  text-align: center;
  font-weight: bold;
}

td.win {
  background-color: Red;
}

td.loss {
  background-color: White;
}

td.blank {
  background-color: Black;
}

td.poolalreadyover {
  background-color: DarkGray;
}
