span.title
{
    font-size: x-large;
    font-family: Cambria;
    color: White;
}

a:link
{
  font-family: Cambria;
  font-size: medium;
  color: yellow;
}

a:visited
{
  font-family: Cambria;
  font-size: medium;
  color: yellow;
}

a:active
{
  font-family: Cambria;
  font-size: medium;
  color: Red;
}
