table {
  border-spacing: 2px;
  border-collapse: separate;
  table-layout: fixed;
  max-width: 600px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

td {
  text-align: center;
}

td.oyakata {
  color: White;
  font-size: Small;
}

td.box {
  height: 42px;
  width: 45px;
}

td.star {
  color: White;
  background-color: Black;
}

td.win {
  background-color: Red;
}

td.loss {
  background-color: White;
}

td.draw {
  background-color: LightBlue;
}
